<div class="main">




  <h1 class="mt-5">FINISH {{code}}</h1>
  <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga fugit, temporibus, dignissimos enim libero
    sapiente,
    odio pariatur at ad eveniet porro commodi dolorum! Fugiat magni odit accusantium neque incidunt esse.Labore illo
  </p>
  {{!-- <div class="col-md-6 col-sm-12"> --}}
    {{!--
  </div> --}}
</div>

</div>

<script>

  $(".step-finish").addClass("active")
</script>